/* Footer.css */

.footer {
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  margin-bottom: 20px;
  text-align: center;
}

.footer-section img.cmp {
  width: 150px;
  margin-bottom: 10px;
}

.footer-section h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #ffffff;
}

.footer-section p,
.footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.6;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #f39c12;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons a {
  color: #ffffff;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #f39c12;
}

.footer-bottom {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #3e3e3e;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
  color: #b3b3b3;
}

/* Responsive Design */
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    text-align: left;
  }

  .footer-section {
    margin-bottom: 0;
    width: 30%;
  }
}
